@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lexend', 'Poppins' !important;
    scroll-behavior: smooth;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none !important;
}

.no-scrollbar {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}